.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.link {
  cursor: pointer;
}

.detail {
  background-color: #e8e8e8;
  border-radius: 7px;
  min-height: 400px;
  padding: 20px;
  font-size: 20px;

  h5 {
    display: inline;
    font-size: 20px;
  }

  span {
    min-width: 200px;
    margin: 5px;
  }

}


